.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6d589d;
    border-bottom: 5px solid #000;
}

.header-menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 80px;
}

.header-menu a {
    font-size: 1.4rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.logo {
    transform: rotateY(180deg);
    padding-right: 30px;
    padding-bottom: 20px;
}

.menu-icon {
    display: none;
}

@media (max-width: 1200px) {
    .header-menu {
        display: none;
    }
    .header {
        height: 100px;
    }
    .logo {
        height: 80px;
        padding-bottom: 0;
    }
    .menu-icon {
        display: block;
        padding-right: 30px;
        height: 40px;
    }
    
    /* .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        position: fixed;
        left: 0;
        top: 150px;
        width: 100%;
        z-index: 1;
    } */
}