.intro {
    position: relative;
}

.background {
    width: 100%;
    border-bottom: 5px solid #000;
    margin-bottom: -5px;
}

.box {
    position: absolute;
    top: 150px;
    left: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #3A4043;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 42px 44px; 
    color: #fff;
}

.box .main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #f25a70;
    text-shadow: 4px 4px 0 black;
}

.box .main-subtitle {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    color: #f25a70;
    text-shadow: 4px 4px 0 black;
    color: white;
} 


@media (max-width: 800px) {
    .background {
        display: none;
    }

    .box {
        position: static;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: none;
        border-bottom: 5px solid #000;
        padding: 42px 15px; 
        
    }

    .box .main-title {
        font-size: 1.56rem;
    }

    .box .main-subtitle {
        font-size: 1.15rem;
    }
}