.main-button {
    background-color: #f25a70;
    padding: 18px 20px;
    display: inline-block;
    box-shadow: 5px 5px 0 black; 
    transition: transform 100ms ease-in-out;
    margin-right: 0;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover {
    transform: scale(1.08);
}

.main-button.-full {
    color: #ffffff;
    background-color: #3A4043;
    width: 100%;
}

.main-button.main-button.-full:hover {
    transform: scale(1.01);
}