.main-section {
    background-color: #f25a70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 5px solid black;
}

.main-section .todos {
    display: flex;
    justify-content: space-evenly;
}

.main-section .main-title {
    margin-bottom: 50px;
}

.main-section.-bgBlack {
    background-color: #3A4043;
}

.main-section.-bdFirst {
    border-color: #000;
    padding-bottom: 50px;
}

.main-section.-bgSecond{
    background-color: #a986cc;
}

.main-section.-bdBlack {
    border-color: #000;
}

.main-description {
    margin-top: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3;
    padding-left: 50px;
    padding-right: 50px;
}