.wrapper-card {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: center;
    justify-items: center;
    max-width: 1200px;  
    margin-left: auto;
    margin-right: auto;
    gap: 50px 100px;
    padding-bottom: 50px;
}

.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a986cc;
    box-shadow: 10px 10px 0px #fff;
    width: 130px;
}

@media (max-width: 800px) {
    .wrapper-card {
        grid-template-columns: repeat(2, min-content);
        gap: 40px;
        padding-bottom: 20px;
    }
} 