.box {
    display: inline-block;
    background-color: #3A4043;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 42px 44px; /* define a "altura e largura da caixa */
}

.box .title {
    margin-bottom: 28px;
}