.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a986cc;
    box-shadow: 10px 10px 0px #fff;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
