.main-action {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.main-action:before {
    display: inline-block;
    content: "";
    background-color: #f25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}