.main-header {
    background-color: #a986cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid black;
    padding-left: 15px;
    padding-right: 20px;
}

@media (max-width: 980px) {
    .main-header .menu{
        display: none;
    }
}