.main-section {
    background-color: #f25a70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 5px solid black;
}

.main-section .todos {
    display: flex;
    justify-content: space-evenly;
}

.main-section .main-title {
    margin-bottom: 50px;
}

.main-section.-bgBlack {
    background-color: #3A4043;
}

.main-section.-bdFirst {
    border-color: #f25a70;
    padding-bottom: 50px;
}