.main-banner {
    display: flex;
    box-sizing: border-box;
    background-image: url(../../imgs/foto.jpg);
    height: 740px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 5px solid black;
    padding-top: 115px;
    padding-left: 90px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;

}