/* apenas testes, precisa ser arrumado */

.mobile-icon {
    display: none;
}

.menu-fechado {
    display: none;

}

@media (max-width: 900px) {
    .menu-aberto {
        display: none;
    }

    .mobile-icon {
        display: block;   
    }
    .mobile-icon button {
        background-color: #f25a70;
        border: none;
        cursor: pointer;
        box-shadow: 5px 5px 0 black; /* x, y, blur, color */

    }
    .mobile-icon button:hover {
        transform: scale(1.1);
    }
    .banner .wrapper {
        display: none;
    }

    .menu-fechado .action {
        background-color: #f25a70;
        display: flex;
        justify-content: center;
        border: 1px solid black;
        width: 900px;
    }

    .menu-fechado .action::before {
        display: none;
    }


    .open {
        background-color: #3A4043;
        display: flex;
        justify-content: center;
    }
}